@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap');

:root{
    --cor0: #FFBC3F;
    --cor1: #FFD78C;
    --cor2: #E6A939;
    --cor3: #FFC559;
    --cor4: #B37D1B;
    --cor-extra0: #3A26FF;
    --cor-extra1: #FF8233;
    --cor-extra2: #80D9FF;
    --cor-extra3: #0954B3;
    --cor-extra4: #4094FF;
    --fonte-padrão: 'Ubuntu', 'sans-serif';
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #333853;
    font-family: var(--fonte-padrão);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

.image-container {
    background-image: url("../img/forca00.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}

.secret-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 1.3em;
}

.letters {
    font-size: 1.4em;
    text-align: center;
    border-bottom: 2px solid var(--cor-extra3);
    padding: .2em;
    margin: 0 .3em;
}

.keyboard-container {
    width: 100%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container{
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
    justify-content: center;
    display: flex;
}

.keyboard-row-container button {
    width: 8%;
    height: 40px;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--cor-extra3);
    box-shadow: 2px 2px 4px solid #0000009a;
    font-size: 16px;
    cursor: pointer;
    color: var(--cor-extra3);
    font-weight: bold;
}

.keyboard-row-container button:hover{
    transform: scale(1.3);
}

.keyboard-row-container button:disabled{
    transform: scale(1);
    cursor: not-allowed;
}

.right{
    background-color: #51b36e;
    color: #f4f3f1;

}

.wrong{
    background-color: #943e3c;
    color: #f4f3f1;
}

.category {
    margin-top: 1.3em;
    color: var(--cor-extra3);
    font-size: 1.5em;
    font-weight: 500;
}





